.alignCenter{
    text-align: center;
    background-color: #778899;
}

.names{
    background-color: #778899;
}

.variants{
    background-color: lavender;
}

.values{
    background-color: #D3D3D3;
}